html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #d5d1ff;
}

header {
  background-color: #3d387a;
  color: #dff0d8;
  padding: 2rem 3rem;
}

header h1 {
  font-size: 4rem;
  text-align: center;
}

.container {
  width: 600px;
  margin: 0 auto;
}

section article {
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 1rem 0;
  border-radius: 0.2rem;
  padding: 0.25rem 0;
  text-align: justify;
  position: relative;
}

section article h2,
section article p {
  margin: 1rem;
}

section article h2 {
  color: palevioletred;
}

section article p,
section article li {
  color: darkslategray;
}

section li {
  margin-right: 1rem;
}

section div {
  position: relative;
}

section img {
  width: 600px;
  margin-bottom: 1rem;
  height: 500px;
  display: block;
}

section iframe {
  width: 600px;
  height: 338px;
}

.btnSig {
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 250px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  border-radius: 50%;
}

.btnAnt {
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 250px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  border-radius: 50%;
}

section article:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

article button:hover {
  transition: color 0.3s ease;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.7);
}
footer {
  background-color: #222;
  padding: 3rem;
  color: #fff;
}

.copy {
  width: 50%;
  margin: 0 auto;
  text-align: right;
}

.copy a {
  display: inline-block;
  margin-left: 0.5rem;
}

.copy p {
  text-align: center;
}

footer p {
  margin: 1rem 0 0 0;
  font-size: 10px;
}

footer div p {
  font-size: 16px;
  margin: 0 0 1rem;
}

footer a {
  transition: color 0.3s ease;
  color: #fff;
  text-decoration: none;
}

footer div {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  border-bottom: solid 0.1rem gray;
}

footer a:hover {
  color: cornflowerblue;
}

.ms-3 {
  margin-left: 1rem !important;
}

.icono {
  font-size: 25px;
  margin: 0 0.5rem 1rem 0.5rem;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  section img {
    width: 100%;
    height: 330px;
  }

  section iframe {
    width: 100%;
    height: 300px;
  }

  header h1 {
    font-size: 2.5rem;
  }

  .copy a {
    margin: 0;
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  .btnSig {
    position: absolute;
    bottom: 165px;
    right: 10px;
  }

  .btnAnt {
    position: absolute;
    bottom: 165px;
    left: 10px;
  }
}
